{% extends 'base.html.twig' %}

{% block title %}MegaCasting - Castings{% endblock %}


{% block body %}
  <div class="container-fluid">
    <div class="container-nav">
      <div class="p-t-31 p-b-9 form-search">
        <div class="input-group mb-3">
          <h1 class="contact-title">
            Castings
          </h1>
        </div>
      </div>
    </div>
  </div>

  {# <div class="container d-flex justify-content-around flex-wrap mt-3 mb-3"> #}

      <div class="container">
          <div class="row">
              <div class="col-1">
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle mt-3" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Catégories
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <button class="dropdown-item" type="button">Action</button>
                          <button class="dropdown-item" type="button">Another action</button>
                          <button class="dropdown-item" type="button">Something else here</button>
                      </div>
                  </div>
              </div>
              <div class="col-8">
                  Les annonces
                  {% for offer in offers %}
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src=" {{ asset("img/film-production.jpg") }}" alt="Image casting film">
                    <div id="Film" class="card-body">
                        <h5 class="card-title">{{ offer.name }}</h5>
                        <p class="card-text">{{ offer.jobdescription }}</p>
                        <p class="card-text font-weight-bold">Publier le : {{ offer.publishdatetime|date("d/m/Y") }}</p>
                        <p class="card-text font-weight-bold">Commence le : {{ offer.startcontractdate|date("d/m/Y") }}</p>
                        <p class="card-text font-weight-bold">Poste à pourvoir : {{ offer.postcount}}</p>

                        <a href="#" class="btn btn-postuler">Postuler</a>
                    </div>
                </div>
            {% endfor %}
              </div>
          </div>
      </div>

    {# <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ asset("img/studio.jpg") }}" alt="Image casting musique">
    <div class="card-body">
      <h5 class="card-title">Casting Musique</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-postuler">Postuler
      </a>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ asset("img/theatre.jpg") }}" alt="Image casting theatre">
    <div class="card-body">
      <h5 class="card-title">Casting Théatre</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-postuler">Postuler
      </a>
    </div>
    </div> #}

  </div>

{% endblock %}
