{% extends 'base.html.twig' %}

{% block title %}MegaCasting - Castings{% endblock %}


{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="{{ asset('img/Logo.png') }}" alt="Logo" class="logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path("home") }}">Accueil</a>
        </li>
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="view-castings.php" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Castings<span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Tout les castings</a>
            <a class="dropdown-item" href="#Film">Cinema</a>
            <a class="dropdown-item" href="#">Musique</a>
            <a class="dropdown-item" href="#">Théatre</a>
            <a class="dropdown-item" href="#">Danse</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path("contact") }}">Contact</a>
        </li>
      </ul>
        <a href="view-login.php">
        <button type="button" type="submit" style="color: white;" class="btn btn-login">
          Connexion / Inscription
        </button>
      </a>
    </div>
  </nav>
  
  <div class="container-fluid">
    <div class="container-nav">
      <div class="p-t-31 p-b-9 form-search">
        <div class="input-group mb-3">
          <h1 class="contact-title">
            Castings
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
   <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle mt-3" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Catégories
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">Action</button>
        <button class="dropdown-item" type="button">Another action</button>
        <button class="dropdown-item" type="button">Something else here</button>
      </div>
    </div>
  </div>

  <div class="container d-flex justify-content-around flex-wrap mt-3 mb-3">  

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ asset("img/film-production.jpg") }}" alt="Image casting film">
    <div id="Film" class="card-body">
      <h5 class="card-title">Casting Film</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-postuler">Postuler
      </a>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ asset("img/studio.jpg") }}" alt="Image casting musique">
    <div class="card-body">
      <h5 class="card-title">Casting Musique</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-postuler">Postuler
      </a>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ asset("img/theatre.jpg") }}" alt="Image casting theatre">
    <div class="card-body">
      <h5 class="card-title">Casting Théatre</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-postuler">Postuler
      </a>
    </div>
    </div>

  </div>

    <footer>
      <div class="card text-center">
        <div class="card-header">
          <img src="{{ asset('img/Logo.png') }}" alt="Logo" class="logo">
          <h5 class="card-title">©Théo LEQUIPE - Matéo GASSEAU</h5>
          <p class="card-text">MegaCasting est un outil pour le projet de BTS SIO Option SLAM.</p>
        </div>
      </div>
    </footer>

{% endblock %}
